
@{
    ViewBag.Title = "AguardandoConfirmacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bem vindo ao forum ByteBank</h2>
<p>Verifique a sua caixa de entrada para confirmar o seu email</p>

