@model ByteBank.Forum.ViewModels.ContaEsqueciSenhaViewModel

@{
    ViewBag.Title = "Solicitar nova senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Esqueci minha senha</h2>

<p> Preencha o campo de email, com seu endereço de email cadastrado no fórum e enviaremos a ele as instruções para recupermos a sua senha. </p>

@using (Html.BeginForm())
{
    //div de erro
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.EditorForModel()
    <input type="submit" value="Enviar" />
}

