@model ByteBank.Forum.ViewModels.ContaRegistrarViewModel

@{
    ViewBag.Title = "Confirmação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmação recebida!</h2>

@using (Html.BeginForm())
{
    <hr />

    //mostra resultado de validação
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <p>
        Obrigado por confirmar o seu email! Clique no botão abaixo e faça seu login.
    </p>

    @Html.ActionLink("Login", "Login", "Conta", new { @class = "btn btn-success" })
}
